<div class="q-container">
  <div>
    <ul class="cards-content card-type">
      {{!-- <h3>{{theme-i18n "about_tag"}}</h3> --}}
      {{!-- {{#each $cards as |card|}}
        <li>
          <div>
            <div>
              <a href="{{theme-i18n "cards.item1.url}}" target="{{theme-i18n "cards.item1.target}}">
                <figure>
                    <div class="icon {{theme-i18n "cards.item1.icon}}"></div></figure>
                <h3>{{theme-i18n "cards.item1.title}}</h3>
                <p>{{theme-i18n "cards.item1.description}}</p>
              </a>
            </div>
          </div>
        </li>
      {{/each}} --}}
      <li>
        <div>
          <div>
            <a href="{{theme-i18n "cards.item1.url"}}" target="{{theme-i18n "cards.item1.target"}}">
              <figure>
                <div class="icon {{theme-i18n "cards.item1.icon"}}"></div></figure>
              <h3>{{theme-i18n "cards.item1.title"}}</h3>
              <p>{{theme-i18n "cards.item1.description"}}</p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>