<div class="q-container">
  <div>
    <ul class="cards-content card-type">
      {{#each cards as |card|}}
        <li>
          <div>
            <div>
              <a href="{{card.url}}" target="{{card.target}}">
                <figure>
                    <img
                    src="{{asset-path card.icon}}"
                    alt="{{card.title}}"
                    width="100"/></figure>
                <h3>{{card.title}}</h3>
                <p>{{card.description}}</p>
              </a>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>