<div class="q-container">
  <div>
    <h2>Discussion Spaces</h2>
    <ul id="category-content" class="card-type">
      {{#each categories as |category|}}
        <li>
          <div>
            <div>
              <a
                href="https://testing-community.qnap.com.tw/c/{{category.slug}}/{{category.id}}"
              >
                <figure><img
                    src="{{category.uploaded_logo.url}}"
                    alt="{{category.name}}"
                    width="100"
                  /></figure>
                <div>
                  <h3>{{category.name}}</h3>
                  <p>{{category.description}}</p>
                </div>
              </a>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>