{{#if this.isHomepage}}
  {{status}}
  {{#if this.isUserLoggedIn}}
    {{cards}}
    {{news}}
    {{category-list}}
  {{else}}
    {{adduser}}
    {{cards}}
    {{news}}
    {{category-list}}
  {{/if}}
  {{#if this.isAfterTopicList}}
    <div>testetstete</div>
  {{/if}}
{{/if}}