<ul class="custom-header-links">
  <li class="headerLink">
    <a href="{{theme-i18n "nav1.url"}}" target="{{theme-i18n "nav1.target"}}">
      {{theme-i18n "nav1.title"}}
    </a>
  </li>
  <li class="headerLink">
    <a href="{{theme-i18n "nav2.url"}}" target="{{theme-i18n "nav2.target"}}">
      {{theme-i18n "nav2.title"}}
    </a>
  </li>
  <li class="headerLink">
    <a href="{{theme-i18n "nav3.url"}}" target="{{theme-i18n "nav3.target"}}">
      {{theme-i18n "nav3.title"}}
    </a>
  </li>
  <li class="headerLink">
    <a href="{{theme-i18n "nav4.url"}}" target="{{theme-i18n "nav4.target"}}">
      {{theme-i18n "nav4.title"}}
    </a>
  </li>
  <li class="headerLink">
    <a href="{{theme-i18n "nav5.url"}}" target="{{theme-i18n "nav5.target"}}">
      {{theme-i18n "nav5.title"}}
    </a>
  </li>
</ul>
